{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    <b>Year {{round_number}}</b> - All cattle transfers
{% endblock %}

{% block content %}

<p>
    This year's cattle transfers:
</p>
<ul>
    {% for t in all_transfers %}
        <li>
            {% if t.sender__id_in_group == player.id_in_group %}
                You
            {% else %}
                Player {{t.sender__id_in_group}}
            {% endif %}
            sent <b>{{t.amount_sent|c}}</b> to
            {% if t.receiver__id_in_group == player.id_in_group %}
                you.
            {% else %}
                Player {{t.receiver__id_in_group}}.
            {% endif %}
        </li>
    {% endfor %}
</ul>

<p>
    Click Next to continue.
</p>

{% next_button %}

<br>
<br>

<table>
    <tr>
        <th>Year {{round_number}} Summary</th>
        <th></th>
    </tr>
    <tr>
        <td>Current herd size:</td>
        <td><b>{{herd_size_after_transfers}}</b></td>
    </tr>
    <tr>
        <td>Player you requested help from:</td>
        <td>
            <b>
                {% if request %}
                    {% if request_player != None %}Player {{request_player}}{% else %}-{% endif %}
                {% else %}
                    -
                {% endif %}
            </b>
        </td>
    </tr>
    <tr>
        <td>Amount requested by you:</td>
        <td><b>{% if request_amount != None %}{{request_amount}}{% else %}-{% endif %}</b></td>
    </tr>
    <tr>
        <td>Amount received:</td>
        <td>
            <b>
                {% if request %}
                    {% for t in all_transfers %}
                        {% if t.receiver__id_in_group == player.id_in_group %}
                            {{t.amount_sent|c}}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    -
                {% endif %}
            </b>
        </td>
    </tr>
</table>

{% endblock %}
