{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    <b>Year {{round_number}}</b> - Request
{% endblock %}

{% block content %}

<p>
    Your current herd size is <b>{{herd_size_after_shock}}</b>.
</p>

{% if under_minimum == True %}
    <p class="redtext">
        <i>
            <b>WARNING:</b> Your herd size is under the minimum threshold of {{minherd|c}}.
            You have <b>{{under_minimum_years_left}}
            {% if under_minimum_years_left > 1 %}
                years
            {% else %}
                year
            {% endif %}</b>
            left to increase your herd size over this minimum threshold, or you will die.
        </i>
    </p>
{% endif %}

{% if charts %}
    <br>
    {% include 'riskpooling/chart.html' %}
{% endif %}

{% if observability %}
    {% if num_players > 1 %}
        <p>Other players:</p>
        <ul>
            {% for p in other_players %}
                {% if p.dead_remove != True %}
                    <li>
                        Player {{p.id_in_group}}'s current herd size is <b>{{ p.herd_size_after_shock }}</b>.
                    </li>
                    <i class="redtext">
                    {% if p.under_minimum == True %}
                        <b>WARNING:</b> Player {{p.id_in_group}}'s herd size is under the minimum threshold of {{minherd|c}}.
                        They have <b>{{ p.under_minimum_years_left }}
                        {% if p.under_minimum_years_left > 1 %}
                            years
                        {% else %}
                            year
                        {% endif %}</b>
                        left to increase their herd size over this minimum threshold, or they will die.
                    {% endif %}
                    </i>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
{% endif %}

<br>

{% formfield player.request %}

<p>
    Click Next to continue.
</p>

{% next_button %}

<br>
<br>

<table>
    <tr>
        <th>Year {{round_number}} Summary</th>
        <th></th>
    </tr>
    <tr>
        <td>Current herd size:</td>
        <td><b>{{herd_size_after_shock}}</b></td>
    </tr>
    <tr>
        <td>Player you requested help from:</td>
        <td><b>-</b></td>
    </tr>
    <tr>
        <td>Amount requested by you:</td>
        <td><b>-</b></td>
    </tr>
    <tr>
        <td>Amount received:</td>
        <td><b>-</b></td>
    </tr>
</table>

{% endblock %}
