{% extends "otree/FormPage.html" %}
{% load staticfiles otree_tags %}

{% comment %}
    this file used to be called Base.html
    If your app's templates contain this line:
    {% extends "global/Base.html" %}
    You should change it to:
    {% extends "global/Page.html" %}
{% endcomment %}


{% block global_styles  %}
<style type = text/css>
.redtext {
    color: #FF0000;
}
table {
    border-collapse: collapse;
    padding: 4px;
    border: 1px solid black;
    font-size: 85%;
}
th {
    background-color: #E6E6E6;
    padding: 2px;
}
td, tr {
    padding: 3px;
}
tr:nth-child(even) {
    background-color: #FAFAFA
}
</style>
{% endblock %}
